.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  background: none;
  border: none;
}

.profile__avatar {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--color-second);
  border-radius: 50%;
}

.profile__name {
  order: 1;
  margin: 0;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-text-main);
}